<h1>ユーザの一覧</h1>
<% if @users.any? %>
  <ul>
    <% @users.each do |user| %>
      <li>
          <div>
            <p><%= user.name %>(<%= user.pets %>)</p>
          </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @users %>
<% end %>